<polymer-element name="server-any-card-player" attributes="name score">
    <script>Polymer({})</script>
    <template><tr><th><a href="search?name={{name}}">{{name}}</a></th><td>{{score}}</td></tr></template>
</polymer-element>

<polymer-element name="server-team-card">
    <script>Polymer({})</script>
</polymer-element>

<polymer-element name="server-any-card">
    <script>Polymer({})</script>
</polymer-element>

<polymer-element name="server-duel-card" attributes="player-a-name player-b-name player-a-frags player-b-frags">
    <template>
        <server-any-card>
            <table><tbody>
            <server-any-card-player name="{{player-a-name}}" score="{{player-a-frags}}"></server-any-card-player>
            <server-any-card-player name="{{player-b-name}}" score="{{player-b-frags}}"></server-any-card-player>
            </tbody></table>
        </server-any-card>
    </template>
    <script>Polymer({})</script>
</polymer-element>

<polymer-element name="server-card" attributes="connect name map mode">
    <template>
        <style>:host {
            display:inline-block;
            vertical-align: top;
            height:15em;
            width:15em;
            position:relative;
            border:thick solid red;
        }
        h2 { position:absolute; left:0; bottom:0;transform: rotate(270deg) translate(2em); }
        h3 { position:absolute; bottom:0; left:0; }
        h4 { position:absolute; left:2em; text-align:right; right:1em; top:0em;}
        /** Not sure how to make it work **/
        polyfill-next-selector { content: "::content ::shadow .team-evil"; }
        ::content ::shadow .team-evil {
            background: palevioletred;
        }
        polyfill-next-selector { content: "::content ::shadow .team-good"; }
        ::content ::shadow .team-good {
            background: palegreen;
        }
        polyfill-next-selector { content: "::content ::shadow .player"; }
        ::content ::shadow  .player {
            position:relative;
        }
        polyfill-next-selector { content: "::content ::shadow .player .score"; }
        ::content ::shadow  .player .score {
            position:absolute;
            right:0;
        }
        .players-list {
            margin-left:3em;
            margin-top:3em;
        }
        </style>
        <h2>{{name}}</h2>
        <div class="players-list">
            <content select="server-card-player"></content>
            <content select="server-card-empty"></content>
        </div>
        <h3>/connect {{connect}}</h3>
        <h4>{{mode}} @ {{map}}</h4>
    </template>
    <script>Polymer({})</script>
</polymer-element>
<hr/>

<polymer-element name="server-card-empty">
    <template><div>Empty</div></template>
    <script>Polymer({})</script>
</polymer-element>


<polymer-element name="server-card-player" attributes="name score team">
    <template>
        <div class="player team-{{team}}"><a href="search?player={{name}}">{{name}}</a> <span class="score">{{score}}</span></div>
    </template>
    <script>Polymer({})</script>
</polymer-element>