body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}


.bigger-duel {
  border: thin solid mediumseagreen;
  text-align:center;
}
.bigger-duel .players {
  display: flex;
}
.bigger-duel .players .player {
  flex: 1;
}
/*.bigger-duel .players .player*/
ul {list-style-type: square;}
.ctf {
  border: thin solid indigo;
  text-align: center;
}
.ctf .teams {
  display:flex;
}
.ctf .teams .team {
  flex: 1;
}
.ctf .team-players ul li{
  padding:0;
  margin:0;
}
.ctf .team-players ul {
list-style-type: none;
  padding:0;
  margin:0;
}
.mini-duel {
  text-align: center;
  border: thin solid darkred;
}
.mini-duel, .ctf, .bigger-duel {
  margin:1em;
  padding:1em;
}

.g-teams {
  display: flex;
}

.g-teams .g-team {
  flex:1;
}

.d-players {
  display:flex;
}
.d-player {
  flex:1
}
.g-ctf, .d-duel {
  border-bottom: thin solid darkslategray;
  border-top: thin solid darkslategray;
  margin-bottom:1.5em;
}
.g-ctf h3, .d-duel h3 {
  margin-top:0.5em;
  margin-bottom:0.5em;
}