/data/
sb-*.log
sb-*.json
sb-*.log.bz2
db-*.db
db.*.db
back-up.zip
dependency-reduced-pom.xml
indexed-data
tmp
sample-data
test-data
*.log
example
# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old
pinger-service/src/main/resources/git.properties
# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
tmp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log
