@(countryCode: String, faults: List[String] = List.empty)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
@main("Create profile")(Html("")){
    <article id="create-profile">
        <style>
        input:invalid {
        border:2px solid red;
        }
        </style>
        <header><h2>Create a profile</h2></header>
        <form method="post" enctype="multipart/form-data">
            @if(faults.nonEmpty) {
                <div id="faults-list">
                    <h3>Faults found</h3>
                    <ol>
                    @for(fault <- faults) {
                        <li>@fault</li>
                    }
                    </ol>
                </div>
            }
            <ol id="form-items">
                <li><label for="nickname">
                    <header>
                        <h3>In-game nickname</h3>
                        <p>This is the name you use inside Sauerbraten.</p>
                        <p>Your nickname will be associated with the country code '@countryCode'</p>
                        <p>You will be permitted to change your nickname at most once a month.</p>
                    </header>
                    <input type="text" name="game-nickname" placeholder="e.g. w00p|Drakas" id="nickname" pattern=".{3,15}" autofocus="autofocus"/>
                </label>
                </li>
                <li><label for="short-name">
                    <header>
                        <h3>Short nickname</h3>
                        <p>This is your name that is easy to type. Letters only.</p>
                    </header>
                    <input type="text" name="short-name" placeholder="e.g. Drakas" pattern="[A-Za-z0-9]{3,12}" id="short-name"/></label>
                </li>
                <li><label for="user-id">
                    <header>
                        <h3>Permanent ID</h3>
                        <p>This will give you a permanent URL. Lowercase letters only.<br/>Your URL: <code id="permanent-url">http://duel.gg/player/<span id="placeholder">drakas</span></code>
                        </p>
                    </header>
                    <input type="text" name="user-id" placeholder="e.g. drakas" pattern="[a-z]{3,10}" id="user-id"/></label>
                </li>
                <li>
                    <button type="submit">Register me</button>
                </li>
            </ol>
        </form>
        <script>
        document.querySelector("#short-name").addEventListener("keyup",function(e) {
            document.querySelector("#user-id").value = document.querySelector("#short-name").value.toLowerCase();
            document.querySelector("#placeholder").innerHTML = document.querySelector("#user-id" ).value;
        })
        </script>
        <h2>Your other scores until 2015/01/31</h2>
        <p>Please send us an e-mail listing every single one of your profile links and we will merge them. Each must have at least 10 duels.</p>
    </article>
}
