@(id: Int, data: String)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
@main("Duel")(Html("")){
    <article id="duel-detail">
        <duel-view initialJson="@data"></duel-view>
        <script>
        window.addEventListener('polymer-ready', function(e) {
        window.addEventListener('keydown', function(a,b,c,d) {
        var snc = document.querySelector('duel-view');
        snc.keypressHandler(a,b,c,d);
        }, true);
        //    window.addEventListener('keyup', function(a,b,c,d) {
        //    var snc = document.querySelector('player-card');
        //    snc.keyupHandler(a,b,c,d);
        //    }, true);
        });
        </script>
            <!--suppress BadExpressionStatementJS, BadExpressionStatementJS -->
        <script type="text/javascript">
        (function(document) {
        var card = document.querySelector("duel-detailed-card");
            if ( card ) {
            var context = card.getAttribute ( "context" ) || '/' ;
            var newerDuelId = card.getAttribute ( "newerDuelId" ) ;
            var olderDuelId = card.getAttribute ( "olderDuelId" ) ;
            if ( newerDuelId ) {
            document.addEventListener ( "keydown", function ( e ) {
            if ( e.keyCode == 37 ) {
            window.location = context + "duel/" + newerDuelId + "/" ;
            }
            } ) ;
            }
            if ( olderDuelId ) {
            document.addEventListener ( "keydown", function ( e ) {
            if ( e.keyCode == 39 ) {
            window.location = context + "duel/" + olderDuelId + "/" ;
            }
            } ) ;
            }
            }

        })(document);
        </script>
    </article>
}
