@(data: String)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
@main("Homepage")(Html("")) {
<div id="first">
    <div style="display:flex">
    <div id="vid" style="order:2; flex:1">
        <iframe width="240" height="180" src="https://www.youtube-nocookie.com/embed/FyG_MaeK6R8?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
<div id="news" style="order:1; flex:1; text-align:left;">
    <h3 style="margin-top:0">duel.gg introduces player registration</h3>
    <p>Following woop.ac success, Drakas has been working to improve duel.gg</p>
    <p>duel.gg now supports demo downloads for PSL and effic.me servers.</p>
    <p>Players are welcome to register and begin playing now.</p>
    <p>Players also are welcome to make video submissions. Just include your profile link or duel link in the YouTube video description.</p>
</div>
    </div>
</div>
<div id="dduelss">
    <home-duels initialGamesJson="@data"> </home-duels>
</div>
<div id="rest">

</div>
}
