@(elems: List[scala.xml.Elem])
<html>
<head><title>duel.gg!</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css" type="text/css"/></head>
<body>
<header id="top">
    <h1><a href="/">Duel? GG!</a></h1>
</header>
<article class="duels">
    <ol class="duels">
        @for(item <- elems) {
        <li><a href="/@{(item \ "@web-id").text}">
            <header>
                <h2>@{((item \\ "player")(0) \ "@name").text} vs @{((item \\ "player")(1) \ "@name").text}</h2>
                <h3>@{(item \ "@mode").text} @@ @{(item \ "@map").text} </h3>
            </header>
            <footer>
                <p class="score">@{((item \\ "player")(0) \ "@frags").text}-@{((item \\ "player")(1) \ "@frags").text}</p>
                <p class="when">@{(item \ "@start-time").text.take(10)}</p>
            </footer></a>
        </li>
        }
    </ol>
</article>
</body>
</html>