@(title: String)(top:Html)(right: Html)(centre: Html)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
@main(title)(top) {
    <style scoped>
    #content-two {
    display : flex ;
    max-width : 66em ;
    margin-left : auto ;
    margin-right : auto ;
    }
    #content-three > * {
    flex : 1 ;
    }
    #content-right {
    order : 2 ;
    }
    #content-centre {
    order : 1 ;
    flex-grow : 1 ;
    }
    </style>
    <div id="content-two">
        <div id="content-right">@right</div>
        <div id="content-centre">@centre</div>
    </div>
}