@(title: String)(top:Html)(data: Html)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>@title</title>
        <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Signika:400,700' rel='stylesheet' type='text/css'>
        <link href='/assets/stylesheets/main.css' rel="stylesheet" type="text/css"/>
        <meta name="description" content="duel.gg is a match league for the Sauerbraten multiplayer first-person shooter">
        <meta name="keywords" content="online FPS, first person shooter, sauerbraten league, sauerbraten, sauerbraten duel">
        <script src="/assets/bower_components/webcomponentsjs/webcomponents.js"></script>
        <link rel="import" href="/assets/bower_components/polymer/polymer.html">
        <link rel="import" href="/assets/bower_components/typeahead-input/typeahead-input.html">
        <link rel="import" href="/assets/duel-card.html">
        <link rel="import" href="/assets/duel-detailed-card.html">
        <link rel="import" href="/assets/searcher.html">
        <link rel="import" href="/assets/sanchez.html">
        <link rel="import" href="/assets/home-duels.html">
        <link rel="import" href="/assets/player-card.html">
    </head>
    <body>

        <div role="main">
            <header id="top">
                <h1><a href="/">Duel? GG!</a></h1>
                <h2>The <a href="http://www.sauerbraten.org/">Sauerbraten</a> Duel League</h2>
            </header>

            <div id="menu">
                <a href="/">Home</a> &bull; <a href="/search/">Search</a> &bull; <a href="/players/">Players</a> &bull; <a href="/servers/">Servers</a>
                    @if(sessionState.profile.nonEmpty) {
                            &bull; <a href="/me/">View my profile</a>
                    } else {
                            &bull; <a href="/login/">Log in with Google</a>
                    }
                <br/>
    @*<d-searcher></d-searcher>*@
            </div>
            <div id="main">

            @if(sessionState.profile.isEmpty) {
                <div id="download-ac-button">
                    <a href="https://github.com/assaultcube/AC/releases/download/v1.2.0.2/AssaultCube_v1.2.0.2.exe" target="_blank">
                        <span class="icon-download"></span>
                        Download the Sauerbraten first-person shooter v1.2.0.2 (45MB, Windows exe)
                    </a>
                </div>
            }
            <div id="content" style="width:60em;margin-left:auto;margin-right:auto;">
            @data
            </div>
            </div>
        </div>
    </body>
</html>