@(title: String)(top:Html)(data: Html)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>@title</title>
        <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Signika:400,700' rel='stylesheet' type='text/css'>
        <link href='/assets/stylesheets/main.css' rel="stylesheet" type="text/css"/>
        <meta name="description" content="duel.gg is a match league for the Sauerbraten multiplayer first-person shooter">
        <meta name="keywords" content="online FPS, first person shooter, sauerbraten league, sauerbraten, sauerbraten duel">
        <link href='/news/atom/' rel="alternate" type="application/atom+xml" title="Atom feed of news articles"/>
        <script src="/assets/bower_components/webcomponentsjs/webcomponents.js"></script>
        <script>
        function scrollHorizons(el) {

        function scrollHorizontally ( e ) {
        e = window.event || e ;
        var delta = Math.max ( - 1, Math.min ( 1, ( e.wheelDelta || - e.detail ) ) ) ;
        el.scrollLeft -= ( delta * 40 ) ; // Multiplied by 40
        e.preventDefault ( ) ;
        }
            if ( !el) {}
        else if ( el.addEventListener ) {
        el.addEventListener ( "mousewheel", scrollHorizontally, false ) ;
        el.addEventListener ( "DOMMouseScroll", scrollHorizontally, false ) ;
        } else {
        el.attachEvent ( "onmousewheel", scrollHorizontally ) ;
        } ;
        }
        </script>
        <link rel="import" href="/assets/bower_components/polymer/polymer.html">
        <link rel="import" href="/assets/bower_components/core-icon/core-icon.html">
        <script src="/assets/bower_components/time-elements/time-elements.js"></script>
        <link rel="import" href="/assets/bower_components/core-icons/hardware-icons.html">
        <link rel="import" href="/assets/bower_components/core-icons/social-icons.html">
        <link rel="import" href="/assets/bower_components/typeahead-input/typeahead-input.html">
        <link rel="import" href="/assets/bower_components/paper-button/paper-button.html">
        <link rel="import" href="/assets/duel-card.html">
        <link rel="import" href="/assets/duel-detailed-card.html">
        <link rel="import" href="/assets/mini-duel-card.html">
        <link rel="import" href="/assets/searcher.html">
        <link rel="import" href="/assets/sanchez.html">
        <link rel="import" href="/assets/home-duels.html">
        <link rel="import" href="/assets/live-duels.html">
        <link rel="import" href="/assets/duel-view.html">
        <link rel="import" href="/assets/player-card.html">
    </head>
    <body>

        <div role="main">
            <header id="top">
                <h1><a href="/">Duel? GG!</a></h1>
                <h2>The <a href="http://www.sauerbraten.org/">Sauerbraten</a> Duel League</h2>
            </header>

            <div id="menu">
                <style scoped>
                    a { text-decoration: none;}
                </style>
                <a href="/">
                <paper-button class="colored custom" tabindex="1">
                    <core-icon icon="home" style="width:2em;height:2em"></core-icon>
                    Home
                </paper-button>
                </a>
                <a href="/search/">
            <paper-button class="colored custom" tabindex="0" aria-label="search" id="search-btn">
                <core-icon icon="search" style="width:2em;height:2em"></core-icon>
                Search
            </paper-button>
                </a>
                <a href="/servers/">
                <paper-button class="colored custom" tabindex="2">
                    <core-icon icon="hardware:gamepad" style="width:2em;height:2em"></core-icon>
                    Servers
                </paper-button>
                </a>
                <a href="/questions/">
            <paper-button class="colored custom" tabindex="3">
                <core-icon icon="help" style="width:2em;height:2em"></core-icon>
                Questions
            </paper-button>
                </a>
                    @if(sessionState.profile.nonEmpty) {
                        <a href="/me/">
                        <paper-button class="colored custom" tabindex="4">
                            <core-icon icon="account-box" style="width:2em;height:2em"></core-icon>
                            My Profile (@{sessionState.profile.get.shortName})
                        </paper-button>
                        </a>
                    } else {
                        <a href="/login/">
                        <paper-button class="colored custom" tabindex="4">
                            <core-icon icon="open-in-browser" style="width:2em;height:2em"></core-icon>
                            Register with Google
                        </paper-button>
                        </a>
                    }

                <a href="/news/atom/" title="Atom News Feed">
                    <paper-button class="colored custom" tabindex="1">
                        <core-icon src="/assets/appbar.rss.svg" style="width: 2em; height: 2em;"></core-icon>
                    </paper-button>
                </a>
                <br/>
    @*<d-searcher></d-searcher>*@
            </div>
            <div id="main">

            @if(sessionState.profile.isEmpty) {
                <div id="download-ac-button">
                    <a href="http://sourceforge.net/projects/sauerbraten/files/sauerbraten/2013_01_04/sauerbraten_2013_02_03_collect_edition_windows.exe/download" target="_blank">
                    <paper-button class="colored custom">

                        <core-icon icon="file-download" style="width:2em;height:2em"></core-icon>
                        Download the Sauerbraten Collect Edition first-person shooter (576MB, Windows .exe)

                        </paper-button>
                    </a>
                </div>
            }
            <div id="content" style="width:60em;margin-left:auto;margin-right:auto;">
            @data
            </div>
            </div>
        </div>
    </body>
</html>