@(title: String)(top:Html)(left: Html)(right: Html)(centre: Html)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
@main(title)(top){
    <style scoped>
    #content-three {
    display : flex ;
    max-width:72em;
    margin-left:auto;
    margin-right:auto;
    }
        #content-left {
            width:320px;
        }
    #content-right {
    order:3;
        width:250px;
    }
    #content-centre {
    order:2;
    flex-grow:1;
    }
    </style>
    <div id="content-three">
        <div id="content-left">@left</div>
        <div id="content-right">@right</div>
        <div id="content-centre">@centre</div>
    </div>
}
