@(data: String, focusDuel: Option[Int])(implicit sessionState: plugins.RegisteredUserManager.SessionState)
@main("Profile")(Html("")){
<article id="player-profile">
    <player-card initialJson="@data" focusDuel="@focusDuel.getOrElse(null)"></player-card>
    <script>
    window.addEventListener('polymer-ready', function(e) {
    window.addEventListener('keydown', function(a,b,c,d) {
    var snc = document.querySelector('player-card');
    snc.keypressHandler(a,b,c,d);
    }, true);
//    window.addEventListener('keyup', function(a,b,c,d) {
//    var snc = document.querySelector('player-card');
//    snc.keyupHandler(a,b,c,d);
//    }, true);
    });
    </script>
</article>
}
