@(data: Html)(implicit sessionState: plugins.RegisteredUserManager.SessionState)
    @main("Profile")(Html("")) {
        <article id="duel-detail">

            @data
                <!--suppress BadExpressionStatementJS, BadExpressionStatementJS -->
            <script type="text/javascript">
            (function(document) {
            var card = document.querySelector("duel-detailed-card");
            if ( card ) {
            var context = card.getAttribute ( "context" ) || '/' ;
            var newerDuelId = card.getAttribute ( "newerDuelId" ) ;
            var olderDuelId = card.getAttribute ( "olderDuelId" ) ;
            if ( newerDuelId ) {
            document.addEventListener ( "keydown", function ( e ) {
            if ( e.keyCode == 37 ) {
            window.location = context + "duel/" + newerDuelId + "/" ;
            }
            } ) ;
            }
            if ( olderDuelId ) {
            document.addEventListener ( "keydown", function ( e ) {
            if ( e.keyCode == 39 ) {
            window.location = context + "duel/" + olderDuelId + "/" ;
            }
            } ) ;
            }
            }

            })(document);
            </script>
        </article>
    }
