@()
@template("questions-view")(s"questions - duel.gg") {
    <article class="questions">

        <h2>What is duel.gg?</h2>
        <p>duel.gg collects duel results from selected <a href="http://www.sauerbraten.org/" target="_blank">Sauerbraten</a> servers.</p>
        <p>Here's some Sauerbraten:</p>
        <iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/M1dkBRWd1_0?rel=0" frameborder="0" allowfullscreen></iframe>
        <h2>When was duel.gg released?</h2>
        <p>August 2014.</p>

        <h2>Is there a realtime view of the duel results?</h2>
        <p>Yes. Don't close the homepage, and you will see new duels appear automatically.</p>
        <p>Alternatively, visit us on <a href="https://webchat.gamesurge.net/?channels=duel.gg">#duel.gg @@ GameSurge</a> to meet our bot.</p>

        <h2>What's the magic behind duel.gg?</h2>
        <p>Scala, Akka, Hazelcast, Play!</p>

        <h2>Where's ELO? Is there a ladder?</h2>
        <p>Not right now. These things take time, and we have priorities.</p>

        <h2>I have a suggestion</h2>
        <p>Go to IRC and let us now &mdash; <a href="https://webchat.gamesurge.net/?channels=duel.gg">#duel.gg @@ GameSurge</a>.</p>

        <h2>Something is wrong...</h2>
        <p>duel.gg is still in beta.</p>

        <h2>Which servers does duel.gg record from?</h2>
        <ul class="servers-list">
            <li>rb0.butchers.su</li>
            <li>rb1.butchers.su</li>
            <li>rb1.butchers.su 20000</li>
            <li>rb2.butchers.su</li>
            <li>rb3.butchers.su</li>
            <li>vaq-clan.de</li>
            <li>effic.me 10000</li>
            <li>effic.me 20000</li>
            <li>effic.me 30000</li>
            <li>effic.me 40000</li>
            <li>effic.me 50000</li>
            <li>effic.me 60000</li>
            <li>psl.sauerleague.org 20000</li>
            <li>psl.sauerleague.org 30000</li>
            <li>psl.sauerleague.org 40000</li>
            <li>psl.sauerleague.org 50000</li>
            <li>psl.sauerleague.org 60000</li>
            <li>sauer.woop.us</li>
            <li>vaq-clan.de</li>
            <li>butchers.su</li>
            <li>192.99.168.91</li>
            <li>192.99.168.91 10000</li>
            <li>192.99.168.91 20000</li>
            <li>sp4nk.it.cx 28899</li>
            <li>noviteam.de</li>
            <li>darkkeepers.dk 28786</li>
        </ul>


    </article>
}