@(root: String)(title: String)(body: Html)
<html class="@root">
<head>
    <title>@title</title>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Signika:400,700' rel='stylesheet' type='text/css'>
    <link href='/assets/font-awesome-4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/stylesheets/main.css" type="text/css"/>
    <script src="/assets/javascript/jquery.js" type="text/javascript"></script>
    <script src="/assets/javascript/main.js" type="text/javascript"></script>
</head>
<body>

<header id="top">
    <h1><a href="/">Duel? GG!</a></h1>
    <h2>
        <a href="https://webchat.gamesurge.net/?channels=duel.gg" title="#duel.gg @@ GameSurge"><i class="fa fa-wechat"></i></a>
        <a title="effic.me" href="http://effic.me/" target="_blank"><i class="fa fa-rocket"></i></a>
        <a title="@@DuelGG on Twitter" href="https://twitter.com/DuelGG" target="_blank"><i class="fa fa-twitter"></i></a>
        <a title="Questions" href="/questions"><i class="fa fa-question"></i></a>
    </h2>
</header>
@body
</body>
</html>
