@()
<!doctype html>
<html>
    <head>
        <title>Index</title>
        <style>
            body {
                font-family: "DejaVu Sans Mono", monospace;
                line-height:1.6;
                margin:2em;
            }
            a {
                color: teal;
            }
        </style>
    </head>
    <body>
        <ol>
            <li><a href="@routes.Main.servers()">/servers/</a></li>
            <li><a href="@routes.Main.gamesIndex()">/games/</a></li>
            <li><a href="@routes.Main.duels(1436823550599L, 1436827501600L)">/duels/range/</a></li>
            <li><a href="@routes.Main.ctfs(1436833876602L, 1436887217759L)">/ctfs/range/</a></li>
            <li><a href="@routes.Main.gamesStreamSse()">/games/stream/sse/</a></li>
            <li><a href="@routes.Main.gamesStreamWs()">/games/stream/ws/</a></li>
            <li><a href="@routes.Main.currentStatus()">/status/</a></li>
        </ol>
    </body>
</html>