@()
<!doctype html>
<html>
    <head>
        <title>Index</title>
        <style>
            body {
                font-family: "DejaVu Sans Mono", monospace;
                line-height:1.6;
                margin:2em;
            }
            a {
                color: teal;
            }
        </style>
    </head>
    <body>
        <ol>
            <li><a href="@routes.Main.servers()">/servers/</a></li>
            <li><a href="@routes.Main.recent()">/recent/</a></li>
            <li><a href="@routes.Main.currentStatus()">/status/</a></li>
        </ol>
    </body>
</html>