/* latin */
/*@font-face {*/
    /*font-family: 'Permanent Marker';*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*src: local('Permanent Marker'), local('PermanentMarker'),*/
    /*url(9vYsg5VgPHKK8SXYbf3sMsW72xVeg1938eUHStY_AJ4.woff2) format('woff2'),*/
    /*url(9vYsg5VgPHKK8SXYbf3sMupm9E4gBdgiUiSJePew_SQ.woff) format('woff');*/
    /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;*/
/*}*/
body {
    font-faxmily: 'Permanent Marker', cursive;
    font-family: Signika;
    background-color: #303048;
    color:#d8f0f0;
    margin:0 auto;
    padding:0;
    text-align: center;
    cursor: default;
}
.index-view {

}
.index-view ol.duels-days-list {
    list-style-type: none;
    width:47em;
    margin:0 auto;
}
.index-view ol.duels-days-list li.duels-day {
    margin-bottom:3em;
}
.index-view ol.duels-days-list ol.duels-day-items  {
    list-style-type: none;
    margin:0;
    padding:0;
}
.index-view ol.duels-days-list ol.duels-day-items li {
    margin:0;
    padding:0;
    margin-bottom:0.5em;
}
.index-view ol li {
    padding-right:14%;
}
#top {
    background-color: #fcfbe3;
    color: #303048;
    padding-top:0.5em;
    font-size:4em;
    margin-bottom:0.5em;
    font-family: 'Permanent Marker', cursive;
}
#top h1 {
    font-size:inherit;
    margin:0;
}
#top h2 {
    margin-top:0;
    margin-bottom:0;
    font-size:1.0em;
}
.index-view
li.duel-item header {
    color:#d8f0f0;
    width:57%;
    text-align: right;
    display:inline-block;
    margin:0; padding:0;
    margin-right:2%;
}
.index-view
li.duel-item footer {
    vertical-align: top;
    color:#fcfbe3;
    text-align: center;
    width:29%;
    display: inline-block;
    margin:0; padding:0;

}
.index-view
li.duel-item {
    padding:0;
    margin-bottom:1em;
    font-size:1.6em;
}
.score h2 {
    color: #fcfbe3;
}
.index-view
li h2,
.index-view li h3,
.index-view li p {
    font-size:inherit;
    margin:0;
    padding:0;
}

.duel p.score {
    font-size:10em;
    color:#fcfbe3;
}
.duel section.score {
    display:inline-block;
    width:49%;
}
.duel p.name {
    font-size:3em;
}
.duel p {
    margin:0;
}
body {
    overflow-y:scroll;
}
section.duel {
    width:40em;
    margin:0 auto;
}
article.duel header {
    font-size:2em;
}
article.duel header * {
    font-size:inherit;
    margin:0;
}
.index-view .duels ol li a {
    text-decoration: none;
    display:block;
    -webkit-transition:opacity 3s, background 0.4s, color 0.4s;
    transition:opacity 3s,background 0.4s,color 0.4s;
    border-radius:0.2em;
    padding:0.5em;
}
.index-view .duels ol li a.new {
    background:#c7325f;
}
.index-view .duels ol li a:hover {
    background:#1b325f;
}
.mode-map {
    text-align: center;
}
#top a {
    color:inherit;
    text-decoration: none;
}
.index-view .duels ol li a footer p.score {
    font-size:2em;
}
.index-view .duels ol li a header h3 {
    font-weight: normal;
}


#top h2 {
    position:absolute;
    top:2.5em;
    left:67%;
    z-index:2;
    width:1em;
    color:#fcfbe3;
}
#top h2 a{
    -webkit-transition: color 0.4s;
    transition:color 0.4s;
}
#top h2 a:hover {
    color:#d8f0f0;
}